.content {
  padding: 2rem;
}

.content p {
  font-size: var(--font-normal);
  line-height: var(--line-height);
}

.content h1 {
  font-size: var(--font-extra-large);
  font-family: "Proxima Nova Bold", Arial, sans-serif;
}

.content h2 {
  font-size: var(--font-4xl);
  font-family: "Proxima Nova Bold", Arial, sans-serif;
  text-transform: uppercase;
}

.content__cta {
  padding-bottom: 1rem;
}

.content__description {
  display: flex;
  flex-direction: column;
  row-gap: 1rem;
}

.content__title {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  padding-top: 3rem;
}

.content__button {
  display: flex;
  justify-content: center;
  padding-top: 2.25rem;
  padding-bottom: 1rem;
}

.content__horizontal-line {
  display: none;
}

@media screen and (min-width: 1024px) {
  .content {
    max-width: 800px;
    margin: 0 auto;
    padding: 3rem 2rem;
  }

  .content p {
    font-size: var(--font-large);
  }

  .content h1 {
    font-size: var(--font-3xl);
    font-family: "Proxima Nova Bold", Arial, sans-serif;
  }

  .content h2 {
    font-size: var(--font-3xl);
    font-family: "Proxima Nova Bold", Arial, sans-serif;
    text-transform: uppercase;
  }

  .content__cta {
    padding-top: 1rem;
    padding-bottom: 2rem;
  }

  .content__title {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    text-align: center;
    padding-top: 3rem;
  }

  .content__button {
    display: flex;
    justify-content: flex-start;
    padding-top: 2.75rem;
    padding-bottom: 2rem;
  }

  .content__horizontal-line {
    display: block;
    margin-top: 2.75rem;
  }
}
