.header {
  display: flex;
  position: fixed;
  z-index: 10;
  top: 0;
  left: 0;
  width: 100%;
  transition: background-color 0.2s ease;
  background-color: var(--primary);
}

.header__mobile {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 32px;
  width: 100%;
}

.header__desktop {
  display: none;
}

.header__logo {
  width: 100px;
  height: auto;
  display: flex;
  align-items: center;
}

.header__logo img {
  width: 100%;
  height: auto;
}

.header__toggle-checkbox {
  display: none;
}

.header__toggle-label {
  cursor: pointer;
}

.header__icon {
  width: 30px;
  height: 30px;
  background-size: cover;
}

.header__icon--hamburger {
  background-image: url("../assets/hamburger-menu.svg");
}

.header__icon--close {
  background-image: url("../assets/close-icon.svg");
}

.header__menu {
  display: none;
  position: absolute;
  top: 100%;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: var(--white);
  z-index: 10;
  overflow-y: auto;
}

.header__menu--open {
  display: block;
}

.header__menu-item {
  padding: 1rem 0.625rem;
}

.header__menu-item--main {
  display: flex;
  align-items: center;
  padding-top: 2rem;
}

.header__menu-item--products,
.header__menu-item--brand,
.header__menu-item--sales-channels,
.header__menu-item--catalog {
  font-size: var(--font-extra-large);
  text-transform: uppercase;
  font-family: "Proxima Nova Bold", Arial, sans-serif;
  cursor: pointer;
  padding: 1rem 2rem;
}

.header__menu-link {
  text-decoration: none;
  color: inherit;
}

.header__submenu {
  display: none;
  flex-direction: column;
  gap: 0.5rem;
  padding: 0.5rem 0;
  background-color: var(--neutral-light);
}

.header__submenu--open {
  display: flex;
}

.header__submenu-item {
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  align-items: center;
  padding: 0.5rem 0px;
  font-size: var(--font-large);
  cursor: pointer;
  text-transform: lowercase;
  font-family: "Proxima Nova Regular", Arial, sans-serif;
}

.header__submenu-item-label {
  display: flex;
  justify-content: space-between;
  width: 100%;
  align-items: center;
}

.header__submenu-label {
  display: flex;
}

.header__submenu-label--padding {
  padding-top: 4rem;
}

.header__submenu-item:hover {
  background-color: var(--neutral-medium);
}

.header__sub-submenu {
  display: none;
  flex-direction: column;
  gap: 0.75rem;
  padding: 0.75rem 2rem 0.75rem 2rem;
  width: 100%;
}

.header__sub-submenu--open {
  display: flex;
}

.header__sub-submenu-item {
  cursor: pointer;
  padding: 0.375rem 0;
  font-size: var(--font-medium);
  transition: background-color 0.3s ease;
}

.header__sub-submenu-item a {
  text-decoration: none;
  color: currentColor;
}

.header__sub-submenu-item:hover {
  background-color: var(--neutral-medium);
  color: var(--primary-dark);
}

.header__sub-submenu-view-all {
  font-family: "Proxima Nova Bold", Arial, sans-serif;
  text-transform: none;
}

.header__arrow {
  width: 1.25rem;
  height: 1.25rem;
}

.header__arrow--down {
  stroke: var(--primary);
}

.header__arrow--right {
  stroke: var(--primary);
}

.header__arrow--up {
  stroke: var(--primary);
  transform: rotate(-90deg);
}

.header__arrow--left {
  stroke: var(--primary);
  transform: scaleX(-1);
}

.apply__transparency {
  background-color: transparent;
  transition: opacity 0.3s ease;
}

.desktop-left-menu {
  display: none;
}

.body-no-scroll {
  overflow: hidden;
  height: 100vh;
}

@media screen and (min-width: 1024px) {
  .header__mobile {
    display: none;
  }

  .header__desktop {
    display: flex;
    width: 100%;
    justify-content: space-between;
    padding-left: 12rem;
    padding-right: 12rem;
    align-items: center;
    padding-top: 2rem;
    padding-bottom: 2rem;
  }

  .header__desktop img {
    height: auto;
    width: 180px;
    object-fit: contain;
    cursor: pointer;
  }

  .header__desktop-menu {
    padding-left: 4rem;
    padding-right: 4rem;
    color: var(--white);

    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 1rem;
  }

  .header__desktop-menu-list {
    display: flex;
    justify-content: space-between;
    gap: 5rem;
    text-transform: uppercase;
    cursor: pointer;
  }

  .header__desktop-menu li a {
    text-transform: uppercase;
    cursor: pointer;
    text-decoration: none;
    color: inherit;
  }

  .header__desktop-link {
    text-align: end;
    text-transform: uppercase;
  }

  .header__desktop-link a {
    cursor: pointer;
    text-decoration: none;
    color: inherit;
  }

  .desktop-left-menu {
    display: block;
    position: fixed;
    top: 0;
    left: -330px;
    width: 330px;
    height: 100%;
    background-color: var(--gray-light);
    box-shadow: 2px 0 5px rgba(0, 0, 0, 0.2);
    z-index: 100;
    transition: left 0.3s ease;
    overflow-y: auto;
  }

  .desktop-left-menu__close-button {
    position: absolute;
    top: 1rem;
    right: 1rem;
    font-size: 1.125rem;
    background: none;
    border: none;
    cursor: pointer;
  }

  .desktop-products-header span {
    padding-left: 2rem;
  }

  .apply__transparency {
    background-color: transparent;
    transition: opacity 0.3s ease;
  }

  .overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 1;
    display: none;
  }

  .desktop-left-menu {
    position: fixed;
    top: 0;
    left: -338px;
    width: 338px;
    height: 100%;
    background-color: var(--white);
    box-shadow: 2px 0 5px rgba(0, 0, 0, 0.2);
    z-index: 99;
    transition: left 0.3s ease;
  }

  .desktop-left-menu__close-button {
    position: absolute;
    top: 1rem;
    right: 1rem;
    font-size: 1.125rem;
    background: none;
    border: none;
    cursor: pointer;
  }

  .desktop-left-menu__content {
    padding: 1rem;
  }

  .desktop-products-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: var(--gray-ultra-light);
    padding: 0.625rem 1rem;
    border-bottom: solid 1px var(--gray-medium-light);
  }

  .desktop-products-title {
    font-family: "Proxima Nova Bold", Arial, sans-serif;
    text-transform: capitalize;
    font-size: 1.125rem;
    padding: 0.375rem 0;
  }

  .close-icon {
    width: 1.25rem;
    height: 1.25rem;
    cursor: pointer;
    fill: var(--primary);
    stroke: var(--primary);
  }

  .desktop-category-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .desktop-category-item {
    width: 100%;
    background-color: var(--white);
    padding-top: 1rem;
    padding-bottom: 1rem;
    padding-left: 3rem;
    padding-right: 1.25rem;
    border-bottom: solid 1px var(--gray-ultra-light);
    font-family: Arial, sans-serif;
    cursor: pointer;
  }

  .desktop-sub-submenu {
    list-style: none;
    margin: 0;
    padding-top: 1.25rem;
    padding-bottom: 1.25rem;
    display: none;
  }

  .desktop-sub-submenu--open {
    display: flex;
    flex-direction: column;
    gap: 0.25rem;
  }

  .desktop-sub-submenu-item {
    padding: 0.75rem 0;
    padding-left: 1.25rem;
  }

  .desktop-sub-submenu-item:hover {
    color: var(--white);
    background-color: var(--primary);
    width: 100%;
  }

  .desktop-sub-submenu-item a {
    text-decoration: none;
    color: currentColor;
  }

  .desktop-sub-submenu-view-all {
    padding-top: 0.625rem;
  }

  .desktop-sub-submenu-view-all span {
    font-family: "Proxima Nova Bold", Arial, sans-serif;
    cursor: pointer;
    padding-left: 1.25rem;
  }

  .header__desktop__arrow {
    width: 0.625rem;
    height: 0.625rem;
  }

  .header__desktop__arrow--down {
    stroke: var(--primary);
    transform: rotate(-270deg);
  }

  .header__desktop__arrow--right {
    stroke: var(--primary);
  }

  .header__desktop__arrow--up {
    stroke: var(--primary);
    transform: rotate(-90deg);
  }

  .header__desktop__arrow--left {
    stroke: var(--primary);
    transform: scaleX(-1);
  }
}

.hidden {
  display: none;
}
