.hero {
  position: relative;
  overflow: hidden;
  width: 100%;
}

.hero__slider {
  display: flex;
  transition: transform 0.5s ease-in-out;
  width: 100%;
}

.hero__slide {
  flex-shrink: 0;
  width: 100%;
  box-sizing: border-box;
}

.hero__slide img {
  width: 100%;
  height: auto;
  object-fit: cover;
}

#slider-desktop {
  display: none;
}

.hero-carousel {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0.625rem;
  padding-top: 12px;
}

.carousel-arrow {
  background-color: transparent;
  border: none;
  cursor: pointer;
  padding: 0;
}

.carousel-arrow img {
  transition: transform 0.3s ease;
}

.carousel-arrow img:hover {
  transform: scale(1.1);
}

.carousel-arrow:disabled {
  opacity: 0.5;
  cursor: not-allowed;
}

.hero-carousel-previews {
  display: flex;
  gap: 0.625rem;
  overflow: hidden;
}

.hero-carousel-image {
  border-radius: 4px;
  object-fit: cover;
  transition: transform 0.3s ease;
}

.hero-carousel-image {
  width: 115px;
  height: 115px;
}

.carousel-arrow img {
  width: 0.625rem;
  height: 0.625rem;
}

.hero-indicators {
  position: absolute;
  bottom: 1.25rem;
  left: 50%;
  transform: translateX(-50%);
  display: flex;
  justify-content: center;
  gap: 0.5rem;
}

.hero-indicators img {
  width: 1.25rem;
  height: 1.25rem;
  cursor: pointer;
}

.carousel-arrow-left {
  margin-left: 10px;
}

.carousel-arrow-right {
  margin-right: 10px;
}

@media (min-width: 1024px) {
  #slider-mobile {
    display: none;
  }

  #slider-desktop {
    display: flex;
  }

  .hero-carousel {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 16px;
    padding-top: 32px;
  }

  .hero-carousel-image {
    width: 230px;
    height: 230px;
  }

  .carousel-arrow img {
    width: 15px;
    height: 15px;
  }
}
