.product {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding-top: 2rem;
}

.product-breadcrumb {
  text-align: center;
  font-size: var(--font-extra-small);
  width: 100%;
  padding: 8rem 2rem 0 2rem;
}

.product-mobile-carousel-indicators {
  display: flex;
  width: 300px;
  gap: 8px;
  padding-top: 16px;
}

.product img {
  width: 380px;
}

.product-section h1,
h2,
h3 {
  font-size: var(--font-4xl);
  font-family: "Proxima Nova Bold", Arial, sans-serif;
  padding-top: 2rem;
  text-align: center;
}

.product-section h1 {
  width: 300px;
  text-align: center;
}

.product__code {
  display: flex;
  justify-content: center;
  padding-top: 2rem;
  font-size: var(--font-normal);
}

.product-code-cta {
  display: none;
}

.product__content__button {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-top: 1.5rem;
  padding-bottom: 1.5rem;
  gap: 24px;
}

.product__description {
  padding-top: 1rem;
  line-height: 1.25rem;
  text-align: justify;
  padding-left: 2rem;
  padding-right: 2rem;
}

.product__table {
  display: flex;
  flex-direction: column;
  padding: 2rem 1rem 2rem 1rem;
}

.product__table h3 {
  padding-bottom: 2rem;
}

.product__row--gray {
  background-color: var(--gray);
}

.product__row--white {
  background-color: var(--white);
}

.product__row--rounded {
  border-radius: 4px;
}

.product__row {
  display: flex;
  align-items: center;
  padding: 0.5rem 1rem;
}

.product__key {
  width: 40%;
  text-align: left;
}

.product__value {
  width: 60%;
  text-align: left;
  margin-left: 0;
}

@media screen and (min-width: 1024px) {
  .product-section {
    padding-left: 20rem;
    padding-right: 20rem;
  }

  .product-breadcrumb {
    text-align: center;
    font-size: var(--font-extra-small);
    width: 100%;
    padding: 9rem 2rem 0 2rem;
  }

  .product-mobile-carousel-indicators {
    display: none;
  }

  .product {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
    padding-top: 4rem;
    padding-left: 2rem;
    padding-right: 2rem;
  }

  .product img {
    width: 500px;
  }

  .product h1 {
    display: flex;
    text-align: start;
    font-size: var(--font-2xl);
    font-family: "Proxima Nova Bold", Arial, sans-serif;
    padding-left: 0;
  }

  .product__container {
    display: flex;
    flex-direction: column;
    padding-left: 60px;
    height: 500px;
    width: 400px;
  }

  .product__code {
    display: flex;
    justify-content: flex-start;
    padding-top: 2rem;
    font-size: var(--font-normal);
  }

  .product-code-cta {
    display: block;
    display: flex;
    justify-content: flex-start;
    padding-top: 2rem;
  }

  .product__content__button {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: start;
    padding-top: 1.5rem;
    padding-bottom: 1.5rem;
    gap: 24px;
  }

  .product__table {
    display: flex;
    flex-direction: column;
    padding: 2rem 1rem 2rem 1rem;
  }

  .product-section h2 {
    display: flex;
    padding-top: 4rem;
    font-size: var(--font-extra-large);
    font-family: "Proxima Nova Bold", Arial, sans-serif;
    padding-left: 2rem;
    padding-right: 2rem;
  }

  .product__description {
    padding: 0;
    padding-top: 1.875rem;
    line-height: 1.25rem;
    text-align: justify;
    padding-left: 2rem;
    padding-right: 2rem;
  }

  .product__table {
    display: flex;
    flex-direction: column;
    padding: 0;
  }

  .product-section h3 {
    display: flex;
    padding-top: 4rem;
    padding-bottom: 1rem;
    font-size: var(--font-extra-large);
    font-family: "Proxima Nova Bold", Arial, sans-serif;
    padding-left: 2rem;
    padding-right: 2rem;
  }
}
