.button {
  width: 18.75rem;
  padding: 14px;
  border-radius: 0.375rem;
  text-align: center;
  text-transform: uppercase;
  border: none;
  font-size: var(--font-extra-large);
  color: var(--white);
  font-family: "Proxima Nova Bold", Arial, sans-serif;
}

.button-primary {
  background-color: var(--indigo);
}

.button-secondary {
  background-color: var(--ambar);
}

.button-tertiary {
  background-color: var(--neutral-dark);
  opacity: 0.75;
}

@media screen and (min-width: 1024px) {
  .button {
    width: 15rem;
  }
}
