.carousel {
  display: flex;
  align-items: center;
  overflow: hidden;
  position: relative;
}

.carousel__track-container {
  width: 100%;
  overflow: hidden;
}

.carousel__track {
  display: flex;
  transition: transform 0.5s ease;
}

.carousel__item {
  flex-shrink: 0;
  transition: transform 0.3s ease-in-out, box-shadow 0.3s ease-in-out;
}

.carousel__arrow {
  background-color: transparent;
  border: none;
  cursor: pointer;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  z-index: 1;
}

.carousel__arrow--left {
  left: 0px;
  fill: var(--neutral-dark);
}

.carousel__arrow--right {
  right: 0px;
  fill: var(--neutral-dark);
}
