.footer {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: flex-end;
  padding: 3rem 2rem;
  margin-top: 2.5rem;
  background-color: var(--neutral-dark);
}

.footer__logo {
  display: flex;
  background: url("../assets/logo-gooffice-footer.svg");
  background-size: contain;
  background-repeat: no-repeat;
  height: 5rem;
  width: 9.6875rem;
}

.footer__group {
  display: flex;
  justify-content: center;
}

.footer__links {
  display: none;
}

.footer__links a {
  color: var(--white);
}

.footer__container {
  display: flex;
  text-align: center;
}

.footer__icon {
  background: url("../assets/email.svg");
  background-size: contain;
  background-repeat: no-repeat;
  width: 0.875rem;
  margin-right: 0.25rem;
  padding: 0.125rem;
}

.footer__info {
  font-size: 0.875rem;
  color: var(--white);
}

@media screen and (min-width: 1024px) {
  .footer {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: flex-end;
    padding: 6rem 24rem;
    background-color: var(--neutral-dark);
  }

  .footer__group {
    display: flex;
    flex-direction: column;
  }

  .footer__links {
    display: flex;
    gap: 2rem;
    text-transform: uppercase;
  }

  .footer__links a {
    color: var(--white);
  }

  .footer__container {
    display: flex;
    justify-content: end;
    padding-top: 1.75rem;
  }
}
