.footer {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: flex-end;
  padding: 3rem 1.875rem;
  margin-top: 2.5rem;
  background-color: var(--neutral-dark);
}

.footer img {
  width: 9.6875rem;
}

.footer__logo {
  width: 9.6875px;
}

.footer__group {
  display: flex;
  justify-content: center;
}

.footer__links {
  display: none;
}

.footer__link {
  color: var(--white);
}

.footer__icon {
  background: url("../assets/email.svg");
  width: 1rem;
  height: 1rem;
  margin-right: 0.25rem;
}

.footer__info {
  font-size: 0.875em;
  color: var(--white);
}

.footer__container {
  display: flex;
}

@media screen and (min-width: 1024px) {
  .footer {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: flex-end;
    padding: 3rem 256px;
    margin-top: 2.5rem;
    background-color: var(--neutral-dark);
  }
  
  .footer img {
    width: 180px;
  }

  .footer__group {
    display: flex;
    flex-direction: column;
  }

  .footer__links {
    display: flex;
    gap: 32px;
    text-transform: uppercase;
  }

  .footer__link {
    color: var(--white);
  }

  .footer__container {
    display: flex;
    justify-content: end;
    padding-top: 28px;
  }
}
