.header {
  display: flex;
  position: fixed;
  z-index: 10;
  top: 0;
  left: 0;
  justify-content: space-between;
  align-items: center;
  padding: 32px;
  width: 100%;
  transition: background-color 0.2s ease;
  background-color: var(--primary);
}

.header__logo {
  width: 100px;
  height: auto;
  display: flex;
  align-items: center;
}

.header__logo img {
  width: 100%;
  height: auto;
}

.header__toggle-checkbox {
  display: none;
}

.header__toggle-label {
  cursor: pointer;
}

.header__icon {
  width: 30px;
  height: 30px;
  background-size: cover;
}

.header__icon--hamburger {
  background-image: url("../assets/hamburger-menu.svg");
}

.header__icon--close {
  background-image: url("../assets/close-icon.svg");
}

.header__menu {
  display: none;
  position: absolute;
  top: 100%;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: var(--white);
  z-index: 10;
  overflow-y: auto;
}

.header__menu--open {
  display: block;
}

.header__menu-item {
  padding: 16px 32px;
}

.header__menu-item--products,
.header__menu-item--brand,
.header__menu-item--sales-channels,
.header__menu-item--catalog {
  font-size: var(--font-extra-large);
  text-transform: uppercase;
  font-family: "Proxima Nova Bold", Arial, sans-serif;
  cursor: pointer;
  padding: 16px 32px;
}

.header__menu-link {
  text-decoration: none;
  color: inherit;
}

.header__submenu {
  display: none;
  flex-direction: column;
  gap: 8px;
  padding: 8px 0;
  background-color: var(--neutral-light);
}

.header__submenu--open {
  display: flex;
}

.header__submenu-item {
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  align-items: center;
  padding: 8px 16px;
  font-size: var(--font-large);
  cursor: pointer;
  text-transform: lowercase;
  font-family: "Proxima Nova Regular", Arial, sans-serif;
}

.header__submenu-item-label {
  display: flex;
  justify-content: space-between;
  width: 100%;
  align-items: center;
}

.header__submenu-label {
  display: flex;
}

.header__submenu-item:hover {
  background-color: var(--neutral-medium);
}

.header__sub-submenu {
  display: none;
  flex-direction: column;
  gap: 12px;
  padding-top: 12px;
}

.header__sub-submenu--open {
  display: flex;
}

.header__sub-submenu-item {
  cursor: pointer;
  padding: 6px 16px;
  font-size: var(--font-medium);
  transition: background-color 0.3s ease;
}

.header__sub-submenu-item:hover {
  background-color: var(--neutral-medium);
  color: var(--primary-dark);
}

.header__arrow {
  width: 20px;
  height: 20px;
}

.header__arrow--down {
  stroke: var(--primary);
}

.header__arrow--right {
  stroke: var(--primary);
}

.header__arrow--up {
  stroke: var(--primary);
  transform: rotate(-90deg);
}

.header__arrow--left {
  stroke: var(--primary);
  transform: scaleX(-1);
}
