/* HEADER GERAL */
.header {
  display: flex;
  position: fixed;
  z-index: 10;
  top: 0;
  left: 0;
  justify-content: space-between;
  align-items: center;
  padding: 32px;
  width: 100%;
  transition: background-color 0.2s ease;
  background-color: var(--primary);
}

/* TOGGLE (Checkbox e Ícones) */
.header__toggle-checkbox {
  display: none;
}

.header__toggle-label {
  cursor: pointer;
}

.header__icon {
  width: 30px;
  height: 30px;
  background-size: cover;
}

.header__icon--hamburger {
  background-image: url("../assets/hamburger-menu.svg");
}

.header__icon--close {
  background-image: url("../assets/close-icon.svg");
}

/* MENU */
.header__menu {
  display: none;
  position: absolute;
  top: 100%;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: var(--white);
  z-index: 10;
  overflow-y: auto;
}

.header__menu--open {
  display: block;
}

.header__menu-item {
  padding: 16px 32px;
}

.header__menu-item--products {
  font-size: 1.25em;
}

.header__menu-item--brand,
.header__menu-item--sales-channels,
.header__menu-item--catalog {
  font-size: var(--font-extra-large);
  text-transform: uppercase;
  font-family: "Proxima Nova Bold", Arial, sans-serif;
}

.header__menu-link {
  text-decoration: none;
  color: inherit;
}

/* SUBMENU - Apenas em Produtos */
.header__submenu {
  display: none;
  background-color: var(--neutral-light);
  flex-direction: column;
}

.header__submenu-label {
  display: flex;
  align-items: center;
  font-size: var(--font-extra-large);
  text-transform: uppercase;
  font-family: "Proxima Nova Bold", Arial, sans-serif;
}

.header__submenu-toggle {
  display: none;
}

.header__submenu-toggle:checked + .header__submenu-label + .header__submenu {
  display: block;
}

/* ARROWS */
.header__arrow {
  width: 20px;
  height: 20px;
}

.header__arrow--down {
  stroke: var(--primary);
}
