 .content {
  max-width: 100%;
  box-sizing: border-box;
  margin: 0 auto;
}

.content__text {
  padding-top: 2.5rem;
  padding-left: 1.875rem;
  padding-right: 1.875rem;
}

.content__text-cta {
  padding-bottom: 1rem;
  font-size: 1.25em;
  font-weight: bold;
  line-height: 1.5em;
}

.content__text-description {
  display: flex;
  flex-direction: column;
  row-gap: 1rem;
  line-height: 1.5em;
}

.content__text-title {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  padding-top: 3rem;
  font-size: 1.875rem;
  text-transform: uppercase;
  font-weight: bold;
}

.content__text-paragraph {
  line-height: 1.2em;
}

.content__text-container {
  display: flex;
  justify-content: center;
  padding-top: 2.75rem;
  padding-bottom: 1rem;
}
