.hero {
  position: relative;
  width: 100%;
  overflow: hidden;
}

.hero__slider {
  display: flex;
  transition: transform 0.5s ease-in-out;
}

.hero__slide {
  flex-shrink: 0;
  width: 100%;
  box-sizing: border-box;
}

#slider-desktop {
  display: none;
}

@media (min-width: 1024px) {
  #slider-mobile {
    display: none;
  }

  #slider-desktop {
    display: flex;
  }
}
