@import url("./header.css");
@import url("./hero.css");
@import url("./content.css");
@import url("./footer.css");
@import url("./carousel.css");
@import url("./products.css");

/* elements */
@import url("./buttons.css");

:root {
  --primary: #8fc703;
  --neutral-dark: #505050;
  --white: #ffffff;
  --indigo: #4bc0c0;
  --ambar: #ff7300;

  --font-extra-small: 14px;
  --font-small: 15px;
  --font-normal: 16px;
  --font-large: 18px;
  --font-extra-large: 20px;
  --font-2xl: 22px;
  --font-3xl: 25px;
  --font-4xl: 30px;

  --line-height: 1.25em;
}

@font-face {
  font-family: "Proxima Nova Bold";
  src: url("../fonts/ProximaNova-Bold.ttf");
}

@font-face {
  font-family: "Proxima Nova Regular";
  src: url("../fonts/ProximaNova-Regular.ttf");
}

body {
  font-family: "Proxima Nova Regular", Arial, sans-serif;
  font-size: var(--font-normal);
  font-weight: normal;
  background-color: var(--white);
  color: var(--neutral-dark);
}

*::-webkit-scrollbar {
  -webkit-appearance: none;
  width: 12px;
  height: 12px;
}

*::-webkit-scrollbar-track {
  background-color: rgba(80, 80, 80, 0.2);
}

*::-webkit-scrollbar-thumb {
  background-color: var(--primary);
  border-radius: 10px;
}
