.products__list {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 2.5rem 2rem 0 2rem;
}

.products__list__breadcrumb {
  text-align: center;
  font-size: var(--font-extra-small);
  width: 100%;
}

.products__list__content {
  display: grid;
  grid-template-columns: repeat(2, 180px);
  justify-content: center;
  gap: 12px;
  padding: 2rem;
}

.product-item {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

.product-item img {
  width: 180px;
  height: auto;
}

.product-item p {
  text-align: center;
  padding-top: 12px;
  font-size: var(--font-small);
  color: var(--neutral-dark);
  text-align: left;

  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
  max-width: 300px;
}

.footer__desktop {
  display: none;
}

@media screen and (min-width: 1024px) {
  .products__list__content {
    grid-template-columns: repeat(6, 250px); /* 6 itens por linha */
    max-width: 100vw;
    gap: 16px; /* Espaçamento maior entre os itens no desktop */
    padding: 2rem; /* Mantém o padding no desktop */
  }

  .product-item img {
    width: 250px; /* Ajusta largura da imagem para 250px */
    height: auto; /* Mantém proporção da imagem */
  }

  .product-item p {
    max-width: 250px; /* Garante que o texto fique dentro da largura da imagem */
  }

  .footer__desktop {
    display: block;
  }
}
